html * {
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    12deg,
    rgba(47, 47, 170, 1) 0%,
    rgba(215, 215, 255, 1) 96%
  );
  background-repeat: no-repeat;
  height: 100vh;

  margin: 50px;
}
#score {
  margin-left: 50%;
}
#wrapper {
  display: grid;
  justify-content: center;
  margin-left: 25%;
  width: 55%;
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.answerWrapper div {
  background-color: rgb(115, 115, 243);
  margin: 5px;
  font-size: 20px;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 500px;
  border-radius: 20px;
}
.answerWrapper {
  display: grid;
  justify-content: center;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}
.wrapper h2 {
  display: flex;
  justify-content: center;
}
.link {
  margin-left: 40%;
  color: rgb(195, 195, 222);
}
.answer.success {
  background-color: rgb(74, 165, 74);
}
.answer.wrong {
  background-color: rgb(146, 54, 54);
}
#questionWrapper {
  display: grid;
}
#nextQuestion {
  background-color: rgb(55, 55, 194);
  height: 45px;
  width: 30%;
  border-radius: 20px;
  color: white;
  font-weight: 800;
  display: block;
  justify-self: right;
  border: none;
  margin-right: 15px;
  cursor: pointer;
}
#nextQuestion:hover {
  background-color: rgb(30, 30, 119);
}
.questionWrapper h2 {
  display: flex;
  justify-content: center;
}
